.bookItem{
    margin-bottom: 20px;
}

.book_cover {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bookSheet tr > td {
    width: 50%;
}